html{
    scroll-behavior:smooth;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:rgba(15,23,42,.9);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo{
    color:#00e5ff;
    font-size:30px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover{
    color:#00e5ff;
}

/* Hamburger Icon */
.menu-icon{
    display:none;
    font-size:30px;
    color:white;
    cursor:pointer;
}

/* Mobile View */
@media (max-width:768px){

    .menu-icon{
        display:block;
    }

    .nav-links{
        display:none;
        position:absolute;
        top:70px;
        right:20px;
        left:auto;        flex-direction:column;
        background:#0f172a;
        width:220px;
        padding:20px;
        border-radius:10px;
        gap:20px;
    }

    .nav-links.active{
        display:flex;
    }
}